

.AddfileBox{
    width:100%;

}

.AddfileBox-content{
    margin: auto;
    width:100%;
    position: fixed;
    height: 100%;
    margin-left: 20%;
}

.AddfileBox-form{
    width: 70%;
    margin-top: 5%;
    margin-left: 5%; 
    background-color: white;
    position: fixed;
    height: 80%;
}

.AddfileBox-form-content{
    padding: 20px;
    margin-left: 15%;
}

.AddfileBox-form-content .AddfileBox-form-files input{
    padding: 20px;
    margin-top: 5%;
    border: 1px solid gray;
    margin-right: 15%;
    font-size: 20px;
    
}

.AddfileBox-form-content label{
    text-align: left;
    width: 40%;
    font-size: 30px;
}
.AddfileBox-form-content input{
    text-align: center;
    width: 85%;
    font-size: 30px;
    border:none;
    border-bottom: 2px solid gray;
    border-radius: 5px;
    margin-bottom: 30px;
}


.AddfileBox-form-content-select{
    width:100%;

}

.AddfileBox-form-content-select label{
    width:10%;
    font-size: 25px;
    margin-left: 10%;
}


.AddfileBox-form-content-select input{
    width:20%;
}
.AddfileBox-form-content-select input:last-child{
    width:20%;
}


.AddfileBox-form-content select{
    text-align: center;
    width: 45%;
    font-size: 20px;
    border:none;
    border-bottom: 2px solid gray;
    border-radius: 5px;
    margin-bottom: 30px;
}

 .AddfileBox-form-content input:focus{
    border-bottom: 3px solid rgb(0, 168, 114);;

}

.addButton{
    padding: 20px;
    margin-top: 5%;
    width: 100%;
    background-color: #e9ecef;
    border-radius: .25rem;
}

.addButton button{
    width:40%;
    padding: 10px;
    margin-left: 30%;
    border: 4px solid rgb(0, 168, 114);
    background: none;
    border-radius: 20px;
    color: rgb(0, 168, 114);
    font-size: 23px;
}

.addButton button:hover{
    color: white;
    background-color: rgb(0, 168, 114);
}




